# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Hidden Files
/
*.build_exe.bat
*.Todo.txt
